.square {
    border: solid 1px;
    border-radius: 3%;
    border-color: rgba(8, 0, 154, 0.699);
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.gameBoard {
    display: flex;
    flex-wrap: wrap;
    width: 456px;
    margin-left: auto;
    margin-right: auto;
}